<p>Bonjour {{ user.fullName }},</p>

<h1>Merci pour votre commande {{ purchase.id }}</h1>

<h2>Récapitulatif de votre commande :</h2>

<table>
	<thead>
		<th>Produit</th>
		<th>Quantité</th>
		<th>Prix Unitaire</th>
		<th>Total</th>
	</thead>
	<tbody>
		{% for item in purchase.purchaseItems %}
			<tr>
				<td>{{ item.productName }}</td>
				<td>{{ item.quantity }}</td>
				<td>{{ item.productPrice / 100 }} &euro;</td>
				<td>{{ item.total / 100 }} &euro;</td>
			</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="3">Total : </td>
			<td>
				{{ purchase.total / 100 }} &euro;
			</td>
		</tr>
	</tfoot>
</table>

<p>A bientôt sur notre boutique en ligne !</p>